{
  "http_interactions": [
    {
      "recorded_at": "2022-11-20T00:11:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 86400, \"refresh_token\": \"<REFRESH_TOKEN>\", \"scope\": \"creddits modnote modcontributors modmail modconfig subscribe structuredstyles vote wikiedit mysubreddits submit modlog modposts modflair save modothers adsconversions read privatemessages report identity livemanage account modtraffic wikiread edit modwiki modself flair history\"}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ],
          "x-moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "299"
          ],
          "x-ratelimit-reset": [
            "529"
          ],
          "x-ratelimit-used": [
            "1"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2022-11-20T00:11:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/comments/vgyx3f/?limit=2048&sort=confidence&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"Listing\", \"data\": {\"after\": null, \"dist\": 1, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t3\", \"data\": {\"author_flair_background_color\": null, \"approved_at_utc\": null, \"subreddit\": \"<USERNAME>\", \"selftext\": \"This is the original text hi\\n\\n[this is a caption](https://preview.redd.it/pdlt6vfjmdy91.png?width=200\\u0026format=png\\u0026auto=webp\\u0026s=b52ff978c1e9e7b69f1522d369bc098235fa57b3)\\n\\nhttps://preview.redd.it/s9tgbprz0ey91.png?width=200\\u0026format=png\\u0026auto=webp\\u0026s=8e91c818b7905c27d64358d919e52641e2e0b08f\\n\\n[CAPTION](https://preview.redd.it/oonyse85rjz91.png?width=200\\u0026format=png\\u0026auto=webp\\u0026s=e17b8e04070b584325e72c6c4a1ca8e30fa14c5d)\\n\\n[test](https://preview.redd.it/ag4rwypayqz91.jpg?width=2160\\u0026format=pjpg\\u0026auto=webp\\u0026s=5b18d48db2f5986125c3dcc43f89908c7bf3ae16)\\n\\n[caption](https://i.redd.it/ct8lfs9eyqz91.gif)\\n\\n[caption](https://preview.redd.it/g4xyl0klyqz91.jpg?width=1024\\u0026format=pjpg\\u0026auto=webp\\u0026s=84f8eaee636300662d83cb46fa2ae0f19921b6f0)\\n\\n[caption](https://reddit.com/link/vgyx3f/video/e5o4ys5wyqz91/player)\\n\\n\\u0026#x200B;\\n\\n[caption](https://preview.redd.it/g4xyl0klyqz91.jpg?width=1024\\u0026format=pjpg\\u0026auto=webp\\u0026s=84f8eaee636300662d83cb46fa2ae0f19921b6f0)\\n\\nNew text with a gif\\n\\n[optional caption](https://i.redd.it/ddz5l4m5uz0a1.gif)\\n\\nan image\\n\\n[optional caption](https://preview.redd.it/l4efuno5uz0a1.png?width=128\\u0026format=png\\u0026auto=webp\\u0026s=6f254c21da86ef0f1a0f560d3af027123db1f332)\\n\\nand a video\\n\\n[optional caption](https://reddit.com/link/vgyx3f/video/pvuxelq5uz0a1/player)\\n\\ninline\", \"user_reports\": [], \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"Test post\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/<USERNAME>\", \"hidden\": false, \"pwls\": null, \"link_flair_css_class\": null, \"downs\": 0, \"thumbnail_height\": 140, \"top_awarded_type\": null, \"parent_whitelist_status\": null, \"hide_score\": false, \"media_metadata\": {\"oonyse85rjz91\": {\"status\": \"valid\", \"e\": \"Image\", \"m\": \"image/png\", \"p\": [{\"y\": 108, \"x\": 108, \"u\": \"https://preview.redd.it/oonyse85rjz91.png?width=108\\u0026crop=smart\\u0026auto=webp\\u0026s=9a8052cd198c9c891ec8385cbee013402d00dfe2\"}], \"s\": {\"y\": 200, \"x\": 200, \"u\": \"https://preview.redd.it/oonyse85rjz91.png?width=200\\u0026format=png\\u0026auto=webp\\u0026s=e17b8e04070b584325e72c6c4a1ca8e30fa14c5d\"}, \"id\": \"oonyse85rjz91\"}, \"s9tgbprz0ey91\": {\"status\": \"valid\", \"e\": \"Image\", \"m\": \"image/png\", \"p\": [{\"y\": 108, \"x\": 108, \"u\": \"https://preview.redd.it/s9tgbprz0ey91.png?width=108\\u0026crop=smart\\u0026auto=webp\\u0026s=da637a938435ae77b6ff4707fdb4558367f0877a\"}], \"s\": {\"y\": 200, \"x\": 200, \"u\": \"https://preview.redd.it/s9tgbprz0ey91.png?width=200\\u0026format=png\\u0026auto=webp\\u0026s=8e91c818b7905c27d64358d919e52641e2e0b08f\"}, \"id\": \"s9tgbprz0ey91\"}, \"pdlt6vfjmdy91\": {\"status\": \"valid\", \"e\": \"Image\", \"m\": \"image/png\", \"p\": [{\"y\": 108, \"x\": 108, \"u\": \"https://preview.redd.it/pdlt6vfjmdy91.png?width=108\\u0026crop=smart\\u0026auto=webp\\u0026s=6eed5c1d00a4f084e3aef4122420d862f7d24cd8\"}], \"s\": {\"y\": 200, \"x\": 200, \"u\": \"https://preview.redd.it/pdlt6vfjmdy91.png?width=200\\u0026format=png\\u0026auto=webp\\u0026s=b52ff978c1e9e7b69f1522d369bc098235fa57b3\"}, \"id\": \"pdlt6vfjmdy91\"}, \"e5o4ys5wyqz91\": {\"status\": \"valid\", \"e\": \"RedditVideo\", \"dashUrl\": \"https://v.redd.it/link/vgyx3f/asset/e5o4ys5wyqz91/DASHPlaylist.mpd?a=1671495072%2CMjc5YjlkMzdmZmM0NzZiYTg4NDZmMDVkMmZjY2VjMTU0NDgxYWYyNTVjMGI3N2ZiZGIxMTU5MzA5NzQ0MjgxMg%3D%3D\\u0026v=1\\u0026f=sd\", \"x\": 1728, \"y\": 1080, \"hlsUrl\": \"https://v.redd.it/link/vgyx3f/asset/e5o4ys5wyqz91/HLSPlaylist.m3u8?a=1671495072%2CNzQwZWRlNDFmZmQwZWM2OTMwNGNhYTMzN2JmNTk2NTdlOTE1MTUwNzM1NzRmNjQ5ZTU0ZjFiYzAyYTY3YTMzNg%3D%3D\\u0026v=1\\u0026f=sd\", \"id\": \"e5o4ys5wyqz91\", \"isGif\": false}, \"pvuxelq5uz0a1\": {\"status\": \"valid\", \"e\": \"RedditVideo\", \"dashUrl\": \"https://v.redd.it/link/vgyx3f/asset/pvuxelq5uz0a1/DASHPlaylist.mpd?a=1671495072%2CMjg2MmE5YWZlMDVhNWVhNGEyM2NkOGZiZGQyZjQ1MDQ1NTBhZGY5ZDZlZDBiNTQ2NzYzYTZmOWIyYzdhMzgxOA%3D%3D\\u0026v=1\\u0026f=sd\", \"x\": 200, \"y\": 200, \"hlsUrl\": \"https://v.redd.it/link/vgyx3f/asset/pvuxelq5uz0a1/HLSPlaylist.m3u8?a=1671495072%2CN2I3ODA2YjkyNzYzMzQ1M2YyODA1NmY1NjgzMzBlYzMwZDZkMjNlMGZmMTk1MjYwZjRkMzI4N2U1NzcxODc0OQ%3D%3D\\u0026v=1\\u0026f=sd\", \"id\": \"pvuxelq5uz0a1\", \"isGif\": false}, \"ct8lfs9eyqz91\": {\"status\": \"valid\", \"e\": \"AnimatedImage\", \"m\": \"image/gif\", \"p\": [{\"y\": 108, \"x\": 108, \"u\": \"https://preview.redd.it/ct8lfs9eyqz91.gif?width=108\\u0026crop=smart\\u0026format=png8\\u0026s=c62babf96f3e1c726449a3c0ae32b1d335dfd3ca\"}, {\"y\": 216, \"x\": 216, \"u\": \"https://preview.redd.it/ct8lfs9eyqz91.gif?width=216\\u0026crop=smart\\u0026format=png8\\u0026s=21178a128ca40a61c6a0ccac407bb9125619f4dc\"}, {\"y\": 320, \"x\": 320, \"u\": \"https://preview.redd.it/ct8lfs9eyqz91.gif?width=320\\u0026crop=smart\\u0026format=png8\\u0026s=c849f7012f33a8f503eb55892daa5a54c883204a\"}], \"s\": {\"y\": 500, \"gif\": \"https://i.redd.it/ct8lfs9eyqz91.gif\", \"mp4\": \"https://preview.redd.it/ct8lfs9eyqz91.gif?format=mp4\\u0026s=37f17552d52f138498bda1a5296bb740f4ea7a16\", \"x\": 500}, \"id\": \"ct8lfs9eyqz91\"}, \"ddz5l4m5uz0a1\": {\"status\": \"valid\", \"e\": \"AnimatedImage\", \"m\": \"image/gif\", \"p\": [{\"y\": 108, \"x\": 108, \"u\": \"https://preview.redd.it/ddz5l4m5uz0a1.gif?width=108\\u0026crop=smart\\u0026format=png8\\u0026s=6b2731703f7bb5388d2d38823827f49f1eecf321\"}], \"s\": {\"y\": 128, \"gif\": \"https://i.redd.it/ddz5l4m5uz0a1.gif\", \"mp4\": \"https://preview.redd.it/ddz5l4m5uz0a1.gif?format=mp4\\u0026s=df0d1addae2722cbf27e05834dafdc9965cc2d38\", \"x\": 128}, \"id\": \"ddz5l4m5uz0a1\"}, \"g4xyl0klyqz91\": {\"status\": \"valid\", \"e\": \"Image\", \"m\": \"image/jpg\", \"p\": [{\"y\": 81, \"x\": 108, \"u\": \"https://preview.redd.it/g4xyl0klyqz91.jpg?width=108\\u0026crop=smart\\u0026auto=webp\\u0026s=0df59b5c49410e9814b918336c63dd767fda06a6\"}, {\"y\": 162, \"x\": 216, \"u\": \"https://preview.redd.it/g4xyl0klyqz91.jpg?width=216\\u0026crop=smart\\u0026auto=webp\\u0026s=b64fd6e46ade775738eea4ae040ebed7896bacdd\"}, {\"y\": 240, \"x\": 320, \"u\": \"https://preview.redd.it/g4xyl0klyqz91.jpg?width=320\\u0026crop=smart\\u0026auto=webp\\u0026s=f07ce4a72c191ff54ea9eb363aa3c0f7d7d03d5e\"}, {\"y\": 480, \"x\": 640, \"u\": \"https://preview.redd.it/g4xyl0klyqz91.jpg?width=640\\u0026crop=smart\\u0026auto=webp\\u0026s=a3b9d9616dbff480d7f9ba82e5d00a5dd79b7112\"}, {\"y\": 720, \"x\": 960, \"u\": \"https://preview.redd.it/g4xyl0klyqz91.jpg?width=960\\u0026crop=smart\\u0026auto=webp\\u0026s=7875512d096a618f951f707ecbc944751302bb22\"}], \"s\": {\"y\": 768, \"x\": 1024, \"u\": \"https://preview.redd.it/g4xyl0klyqz91.jpg?width=1024\\u0026format=pjpg\\u0026auto=webp\\u0026s=84f8eaee636300662d83cb46fa2ae0f19921b6f0\"}, \"id\": \"g4xyl0klyqz91\"}, \"ag4rwypayqz91\": {\"status\": \"valid\", \"e\": \"Image\", \"m\": \"image/jpg\", \"p\": [{\"y\": 108, \"x\": 108, \"u\": \"https://preview.redd.it/ag4rwypayqz91.jpg?width=108\\u0026crop=smart\\u0026auto=webp\\u0026s=4fa85c6effb9bacd7ff3997bb32cf5e1a46a23b3\"}, {\"y\": 216, \"x\": 216, \"u\": \"https://preview.redd.it/ag4rwypayqz91.jpg?width=216\\u0026crop=smart\\u0026auto=webp\\u0026s=b5a86550a98f5c6d5722bca720694ba67cef0308\"}, {\"y\": 320, \"x\": 320, \"u\": \"https://preview.redd.it/ag4rwypayqz91.jpg?width=320\\u0026crop=smart\\u0026auto=webp\\u0026s=df1695df0ac2a8627a953f4a4c7fc215b57a2274\"}, {\"y\": 640, \"x\": 640, \"u\": \"https://preview.redd.it/ag4rwypayqz91.jpg?width=640\\u0026crop=smart\\u0026auto=webp\\u0026s=29ca666298b77f20bfe1568ee9281e9957104251\"}, {\"y\": 960, \"x\": 960, \"u\": \"https://preview.redd.it/ag4rwypayqz91.jpg?width=960\\u0026crop=smart\\u0026auto=webp\\u0026s=7c117a2170981f1d7f44ed55001bcd1cdd8f3453\"}, {\"y\": 1080, \"x\": 1080, \"u\": \"https://preview.redd.it/ag4rwypayqz91.jpg?width=1080\\u0026crop=smart\\u0026auto=webp\\u0026s=721eef4470809c8f799b6bcfd975d172c8913e76\"}], \"s\": {\"y\": 2160, \"x\": 2160, \"u\": \"https://preview.redd.it/ag4rwypayqz91.jpg?width=2160\\u0026format=pjpg\\u0026auto=webp\\u0026s=5b18d48db2f5986125c3dcc43f89908c7bf3ae16\"}, \"id\": \"ag4rwypayqz91\"}, \"l4efuno5uz0a1\": {\"status\": \"valid\", \"e\": \"Image\", \"m\": \"image/png\", \"p\": [{\"y\": 108, \"x\": 108, \"u\": \"https://preview.redd.it/l4efuno5uz0a1.png?width=108\\u0026crop=smart\\u0026auto=webp\\u0026s=588200a199719b2f6e55d29c798bc887c27304f2\"}], \"s\": {\"y\": 128, \"x\": 128, \"u\": \"https://preview.redd.it/l4efuno5uz0a1.png?width=128\\u0026format=png\\u0026auto=webp\\u0026s=6f254c21da86ef0f1a0f560d3af027123db1f332\"}, \"id\": \"l4efuno5uz0a1\"}}, \"name\": \"t3_vgyx3f\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"upvote_ratio\": 1.0, \"ignore_reports\": false, \"ups\": 1, \"domain\": \"self.<USERNAME>\", \"media_embed\": {}, \"thumbnail_width\": 140, \"author_flair_template_id\": null, \"is_original_content\": false, \"author_fullname\": \"t2_o77bz\", \"secure_media\": null, \"is_reddit_media_domain\": false, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": null, \"can_mod_post\": true, \"score\": 1, \"approved_by\": null, \"is_created_from_ads_ui\": false, \"author_premium\": true, \"thumbnail\": \"https://b.thumbs.redditmedia.com/oJcI8elqxEYw6tm2SbDnrzX4PCEZkIbHaB2frZwQCms.jpg\", \"edited\": 1668901056.0, \"author_flair_css_class\": null, \"previous_visits\": [1668898173.0, 1668899270.0, 1668900239.0], \"author_flair_richtext\": [], \"gildings\": {}, \"content_categories\": null, \"is_self\": true, \"subreddit_type\": \"restricted\", \"created\": 1655767582.0, \"link_flair_type\": \"text\", \"wls\": null, \"removed_by_category\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"total_awards_received\": 0, \"allow_live_comments\": false, \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EThis is the original text hi\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u003Ca href=\\\"https://preview.redd.it/pdlt6vfjmdy91.png?width=200\\u0026amp;format=png\\u0026amp;auto=webp\\u0026amp;s=b52ff978c1e9e7b69f1522d369bc098235fa57b3\\\"\\u003Ethis is a caption\\u003C/a\\u003E\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u003Ca href=\\\"https://preview.redd.it/s9tgbprz0ey91.png?width=200\\u0026amp;format=png\\u0026amp;auto=webp\\[...]
    {
      "recorded_at": "2022-11-20T00:11:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&markdown_text=This+is+the+original+text+hi%0A%0A%5Bthis+is+a+caption%5D%28https%3A%2F%2Fpreview.redd.it%2Fpdlt6vfjmdy91.png%3Fwidth%3D200%26format%3Dpng%26auto%3Dwebp%26s%3Db52ff978c1e9e7b69f1522d369bc098235fa57b3%29%0A%0Ahttps%3A%2F%2Fpreview.redd.it%2Fs9tgbprz0ey91.png%3Fwidth%3D200%26format%3Dpng%26auto%3Dwebp%26s%3D8e91c818b7905c27d64358d919[...]
    {
      "recorded_at": "2022-11-20T00:11:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&richtext_json=%7B%22document%22%3A+%5B%7B%22c%22%3A+%5B%7B%22e%22%3A+%22text%22%2C+%22t%22%3A+%22This+is+the+original+text+hi%22%7D%5D%2C+%22e%22%3A+%22par%22%7D%2C+%7B%22c%22%3A+%5B%7B%22u%22%3A+%22https%3A%2F%2Fpreview.redd.it%2Fpdlt6vfjmdy91.png%3Fwidth%3D200%26format%3Dpng%26auto%3Dwebp%26s%3Db52ff978c1e9e7b69f1522d369bc098235fa57b3%22%2C+%2[...]
[...]
